/operation-systems/scheduler/target
/operation-systems/scheduler/.idea
/operation-systems/scheduler/scheduler.iml

compilers/simple-precedence-grammar/target
compilers/simple-precedence-grammar/.idea
compilers/simple-precedence-grammar/scheduler.iml

compilers/lexical-analyzer/target
compilers/lexical-analyzer/.idea
compilers/lexical-analyzer/scheduler.iml
compilers/lexical-analyzer/lexical-analyzer.iml

/operation-systems/Administrator/Debug
/operation-systems/Administrator/Administrator/Debug
/operation-systems/Administrator/Reader/Debug
/operation-systems/Administrator/Writer/Debug
/operation-systems/Administrator/.vs

/operation-systems/lab3/Debug
/operation-systems/lab3/lab3/Debug
/operation-systems/lab3/.vs

/operation-systems/Administrator/x64
/operation-systems/Administrator/Administrator/x64
/operation-systems/Administrator/Reader/x64
/operation-systems/Administrator/Writer/x64
